.board {
  display: grid;
  /* Use clamp and vmin to make the board responsive and constrained */
  --board-size: clamp(240px, 80vmin, 450px);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: var(--board-size);
  height: var(--board-size);
  gap: 5px;
  padding: 10px;
  background-color: var(--board-frame-color);
  border: 5px solid var(--board-frame-color);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}
