.cell {
  background-color: var(--cell-color);
  border: 2px solid var(--board-frame-color);
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: var(--cell-hover-color);
}
